@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Poppins:wght@100;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*main color- #9142FF */
/*shadow color- #c0a6e5 */



.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/lower-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  margin-top: 0px;
  margin-left: 0px;
  width: 75vw;
  height: 68vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #9142FF;
  box-shadow: 16px 17px 40px 0px #c0a6e5,
    -34px -30px 40px 0px #fff;
}

.image-section {
  width: 55%;
  height: 100%;
  background-image: url("../../images/upper-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-text h1 {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 2.188rem;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.image-text p {
  margin: 0;
  padding: 0;
  width: 70%;
  color: #000 !important;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  opacity: 0.7;
}

.form-section {
  width: 45%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  width: 22.7vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 14px;
}

.signin-form h1 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #9142FF;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.user-name,
.password,
.e-mail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.pass-view {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.view-icon {
  position: absolute;
  right: 8px;
}

.user-name label,
.password label,
.e-mail label {
  margin-bottom: 5px;
  margin-left: 8px;
  font-family: "Inter", sans-serif;
  color: #9142FF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.user-name input,
.password input,
.e-mail input {
  width: 96%;
  height: 6.5vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid #9142FF;
  background: #fff;
  transition-duration: 2s ease;
  outline-color: #9142FF;
}

.radio-cont {
  width: 100%;
  margin-top: -5px;
}

.remember {
  display: flex;
  align-items: center;
  left: 0;
  bottom: 110px;
}

#html {
  width: 19.137px;
  height: 19.137px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  accent-color: #9142FF;
}

.remember label {
  color: #0057ff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.remember label span {
  color: #0057ff;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-btn button {
  margin-top: 2.5vh;
  width: 13.4vw;
  height: 47px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #9142FF;
  background: #fff;
  color: #9142FF;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.login-btn p {
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-btn p a {
  margin: 0;
  padding: 0;
  color: #0057ff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

/* ================>> TABLET RESPONSIVE (max-w-1024px) <<===============*/
@media only screen and (max-width: 1024px) {
  .main-container {
    width: 100vw;
    height: 100vh;
  }

  .sub-container {
    margin-top: 0px;
    margin-left: 0px;
    width: 81.25vw;
    height: 67.5vh;
  }

  .image-section {
    width: 55%;
    height: 100%;
  }

  .image-text h1 {
    font-size: 20.5px;
    line-height: 25px;
  }

  .image-text p {
    width: 70%;
    font-size: 9.5px;
    line-height: 10px;
  }

  .signin-form {
    width: 25.2vw;
    height: 100%;
    row-gap: 8px;
  }

  .signin-form h1 {
    font-size: 23.5px;
  }

  .user-name label,
  .password label,
  .e-mail label {
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 10.5px;
  }

  .user-name input,
  .password input,
  .e-mail input {
    width: 24vw;
    height: 6.25vh;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 12px;
  }

  .radio-cont {
    margin-top: -5px;
  }

  #html {
    width: 11px;
    height: 11px;
  }

  .remember label {
    font-size: 8.5px;
  }

  .remember label span {
    font-size: 10px;
  }

  .login-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-btn button {
    margin-top: 6.4vh;
    width: 15vw;
    height: 28px;
    border-radius: 8.5px;
    font-size: 13px;
  }

  .login-btn p {
    font-family: "Inter", sans-serif;
    font-size: 10.5px;
  }

  .login-btn p a {
    margin-top: 3px;
    font-size: 10.5px;
  }
}

/* ================>> MOBILE RESPONSIVE (max-w-600px) <<===============*/

@media only screen and (max-width: 600px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-container {
    background-image: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    background: transparent;
    box-shadow: none;
  }

  .image-section {
    background-image: none;
    width: 100vw;
    height: 42vh;
    background: #9142FF;
    background-image: url("../../images/mobile-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-text h1 {
    font-size: 29px;
    line-height: 30px;
  }

  .image-text p {
    width: 90%;
    font-size: 13px;
    line-height: 20px;
    opacity: 0.7;
  }

  /* Form Section Start */
  .form-section {
    background-image: none;
    width: 100vw;
    height: 58vh;
    background-color: white;
    margin-top: 0px;
  }

  .signin-form {
    width: 100%;
    height: 100%;
    padding: 0px 40px;
    row-gap: 16px;
  }

  .signin-form h1 {
    font-size: 27px;
  }

  .user-name label,
  .password label,
  .e-mail label {
    font-size: 12px;
    margin-left: 5px;
  }

  .user-name input,
  .password input,
  .e-mail input {
    width: 95%;
    height: 5.68vh;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 12px;
  }

  /* Radio Button */
  .radio-cont {
    margin-top: -5px;
  }

  #html {
    width: 14px;
    height: 14px;
  }

  .remember label {
    font-size: 8px;
  }

  .remember label span {
    font-size: 10px;
  }

  /* Submit Button */
  .login-btn button {
    margin-top: 3.7vh;
    width: 175px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
  }

  .login-btn p {
    font-size: 10px;
  }

  .login-btn p a {
    font-size: 10px;
  }
}
